<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who am I?</h2>
                <hr class="light">
                <p class="text-faded">
                    Since I can remember I've been in love with art: cinema, photography, painting.<br> 
                    But also I've been in love with technology and how things work.<br>
                    That's why I was a SysAdmin until 2014 when my other passion came into play.<br><br>
                    From 2013 to 2018 I worked for my own project as a photographer: <b>Pictob</b>.<br> 
                    I went from solo to have a team of 4 photographers, the whole project was based on automation; something better learnt in my engineering work experience.<br>
                    We had clients such as UberEats Spain, Take Eat Easy, Real Madrid (theclubme agency), Pernod Ricard Spain, and several small businesses around Spain.</p>
                    <p>Since 2018 I’m back in the game as a <b>SRE / DevOps / SysAdmin.</b></p>
                <a href="#tech" class="btn btn-default btn-xl page-scroll">What a ride!</a>
            </div>
        </div>
    </div>
</section>
