<section id="tech">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">What I like in tech</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-dharmachakra wow bounceIn text-primary"></i>
                    <h3>Kubernetes</h3>
                    <p class="text-muted">I'm <a target="_blank" href="https://www.credly.com/badges/3a029c78-f6a3-487f-8f7a-79910ca73288/">CKA (Certified Kubernetes Administrator)</a> because I really love how Kubernetes works and the possibilities it opens.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Infrastructure as Code</h3>
                    <p class="text-muted">Automation is key. From time saving to disaster recovery practire, IaC is awesome. Also I'm a <a target="_blank" href="https://www.credly.com/badges/51c1689a-de6b-4e38-af8d-08777cccc244">Hashicorp Certified: Terraform Associate</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-infinity wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>DevOps</h3>
                    <p class="text-muted">DevOps culture is about breaking walls and avoiding silos. I enjoy having cooperation between departments and help people to be more independent to speed up the value stream.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Team</h3>
                    <p class="text-muted">Feeling that your team is working fine is crucial, also to have ethics, empathy and honesty not only with them but also if you report to somebody.</p>
                </div>
            </div>
        </div>
    </div>
        <div>
            <hr class="primary">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Knowledge</h2>
                    <hr class="primary">
                </div>
            </div>
        </div> 
        <div class="container">
            <div class="row">
                
                <div class="col-lg-3 col-md-6 col-xs-offset-3 text-center">                
                    <i class="far fa-4x fa-bookmark wow bounceIn text-primary"></i>
                    <h3>Books</h3>
                    <p class="text-muted">COVID19 and work from home helped me to have more time for reading and studying. So I opened a <a target="_blank"  href="https://www.notion.so/jayolmos/22777b919e424521b799f294ca7f5ac4?v=c465d0a70fdf4e1cb8b50c96ef12f0de">list of books</a> that I've been reading and consider useful in some point.</p> 
                </div>
                <div class="col-lg-3  text-center">                
                    <i class="fab fa-4x fa-medium wow bounceIn text-primary"></i>
                    <h3>Medium and blogs</h3>
                    <p class="text-muted"><a target="_blank" href="https://medium.com/@jayolmos/has-recommended">Medium</a> and community blogs are so helpful to fulfill knowledge. No matter if you are looking for Kubernetes the Hard Way or some example of infrastructure in the cloud.</p> 
                </div>
        </div>
            <!-- <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fab fa-4x fa-medium wow bounceIn text-primary"></i>
                    <h3>Medium & blogs</h3>
                    <p class="text-muted"><a href="https://www.notion.so/jayolmos/22777b919e424521b799f294ca7f5ac4?v=c465d0a70fdf4e1cb8b50c96ef12f0de">Books</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-coffee wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Coffee</h3>
                    <p class="text-muted">Coffee is life.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fas fa-4x fa-dumbbell wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Crossfit</h3>
                    <p class="text-muted">Crossfit is life.</p>
                </div>
            </div> -->
        </div>
    </div>
</section>
